body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}
:root {
  --title-color: #2e2f42;
  --contact-color: #434455;
  --poragraf-color: #434455;
  --logo: #4d5ae5;
}

.container {
  max-width: 428px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.header-container {
  display: flex;
  align-items: center;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}

p,
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.link-menu-item {
  display: flex;
  align-items: center;
}

.header-item {
  padding-top: 24px;
  padding-bottom: 24px;
  flex-grow: 1;
  justify-content: space-between;
  border-bottom: 1px solid #e7e9fc;
  height: 72px;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
}

.link-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo);
  align-items: center;
  margin-right: 76px;
}

.logo-portfolio {
  display: inline-block;
  margin-bottom: 16px;
}

.web {
  color: var(--title-color);
}

.list-menu {
  display: none;
  gap: 40px;
}

.list-open :hover,
.list-open :focus {
  color: #404bbf;
}

.contact-list {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-left: auto;
  display: none;
}
.header-icon-link:hover,
.header-icon-link:focus {
  background-color: #404bbf;
}

.contact-list-header :hover,
.contact-list-header :focus {
  color: #404bbf;
}

.tel-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #fff;
  top: 0;
  z-index: 2;
  padding: 40px 24px 24px 40px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-svg {
  stroke: rgba(46, 47, 66, 1);
}
.open-menu {
  margin-left: auto;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 0;
  background-color: #fff;
  cursor: pointer;
}
.close-menu {
  color: rgba(46, 47, 66, 1);
  display: block;
  margin-left: auto;
  border: none;
  background: transparent;
  margin-bottom: 32px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  text-align: center;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.header-icon-list {
  width: 40px;
  height: 40px;
}
.icon-header-menu {
  display: flex;
  justify-content: space-between;
}
.header-icon-link {
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-tel.link-color {
  color: #404bbf;
}

.link-tel {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .tel-open-modal :not(:last-child) {
  margin-bottom: 24px;
} */
/* .list-open {
  padding-left: 40px;
  margin-bottom: 50px;
} */

.header-contact-address {
  margin-top: 40px;
}
.mail-header {
  color: #434455;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.tel-header {
  color: #4d5ae5;
  font-size: 36px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.header-contact-list {
  font-style: normal;
  margin-bottom: 48px;
  margin-top: auto;
}
.tel-open-modal {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/** --------------next--------------- */
.button-title-service {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-tel.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--title-color);
  padding: 112px 0;
  height: 428px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .button-title-service {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/dark-bg-2-tel.jpg);
  }
}

.main-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.07;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.72px;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}

.button-order {
  padding: 16px 32px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  align-items: center;
  display: flex;
  margin: auto;
  background-color: #4d5ae5;
  border: 1px;
  border-radius: 4px;
  display: block;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-order:hover,
.button-order:focus {
  background-color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/** --------------section--------------- */

.all-info {
  padding-bottom: 96px;
  padding-top: 96px;
}

.skills-list {
  display: flex;
  gap: 72px;
  padding-left: 0;
  flex-wrap: wrap;
}

.header-svg-icon {
  display: none;
}

.info-skills {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  color: var(--title-color);
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
  margin-bottom: 16px;
}

.main-list-info {
  font-family: "Roboto", sans-serif;
  color: var(--title-color);
  margin-bottom: 8px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: var(--title-color);
  letter-spacing: 0.72px;
}

.info-main {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--poragraf-color);
  letter-spacing: 0.32px;
}
/** --------------skills-list-info --------------- */

.are-we-doing {
  display: none;
}

/** --------------all-team--------------- */

.all-team {
  background-color: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;
}

.social-icon-list {
  width: 40px;
  height: 40px;
}

.social-icon-link {
  background-color: #4d5ae5;
  padding: 12px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-link:hover,
.social-icon-link:focus {
  background-color: #404bbf;
}

.icon-main-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.list-team {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 72px;
}
.team-container {
  padding: 32px 0;
}

.icon-main-social {
  fill: #f4f4fd;
}

.info-team {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.our-team {
  font-size: 36px;
  line-height: 1.11;
  color: var(--title-color);
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.list-team .name-team {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--title-color);
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}

.list-team .profession-team {
  font-size: 16px;
  line-height: 1.5;
  color: var(--poragraf-color);
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

/** --------------next--------------- */

.customers-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.main-icon-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 16px;
  row-gap: 72px;
}

.sectiom-customers {
  padding-top: 96px;
  padding-bottom: 96px;
}

.list-icon-customers {
  width: calc((100% - 16px) / 2);
  height: 88px;
}

.link-icon-customers {
  border: 1px solid #8e8f99;
  color: #8e8f99;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  align-items: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icon-customers {
  fill: currentColor;
}

.link-icon-customers:hover,
.link-icon-customers:focus {
  color: #404bbf;
  border-color: #404bbf;
}

/** --------------footer--------------- */
.footer {
  background: var(--title-color);
  padding-top: 96px;
  padding-bottom: 96px;
}
.container-logo {
  margin-bottom: 72px;
}

.logo-portfolio-item {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo);
  display: block;
  margin-bottom: 16px;
  text-align: center;
}

.web-footer {
  color: #f4f4fd;
}

.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
  color: #f4f4fd;
}

.footer-icon {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  color: #ffffff;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-container-item {
  margin-bottom: 72px;
}

.icon-footer-item {
  display: flex;
  gap: 16px;
}

.footer-icon-list {
  width: 40px;
  height: 40px;
}

.footer-link {
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
  background-color: #31d0aa;
}

.icon-send {
  fill: #f4f4fd;
  margin-left: 16px;
}

.button-footer {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  border-radius: 4px;
  min-width: 165px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.text-subscribe {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
}

.input-footer {
  background-color: transparent;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 398px;
  height: 40px;
  padding-left: 16px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  color: #ffffff;
  border: 1px solid var(--white, #fff);
  opacity: 0.30000001192092896;
  width: 100%;
}

.input-footer::placeholder {
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin-left: 16px;
}

.footer-form {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
}

.item-form {
  margin-left: auto;
}
.footer-email {
  width: 100%;
}

/** --------------next-html-portfolio--------------- */

.section-main {
  padding-top: 48px;
  padding-bottom: 120px;
}

.item-butoon {
  display: flex;
  justify-content: flex-start;
  gap: 24px;
  margin-bottom: 48px;
  flex-wrap: wrap;
}

.button-web-portfolio {
  font-family: "Roboto", sans-serif;
  color: #4d5ae5;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
  background-color: #f4f4fd;
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-web-portfolio:hover {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button-web-portfolio:active,
.button-web-portfolio:focus {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/** --------------next-html-portfolio--------------- */

.ul-portfolio {
  display: flex;
  row-gap: 48px;
  flex-direction: column;
}

.text-main-portfolio {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color);
  margin-bottom: 8px;
}
.item-portfolio {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--poragraf-color);
}

.info-portfolio {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  width: 360px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.animation-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #f4f4fd;
  background-color: #4d5ae5;
}
.animation-container {
  position: relative;
  overflow: hidden;
}
.link-banking {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
}

.link-banking:hover .animation-text {
  transform: translateY(0%);
}

.link-banking:focus .animation-text {
  transform: translateY(0%);
}

.link-banking:hover,
.link-banking:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/** --------------modal--------------- */

.icon-button:hover,
.icon-button:focus {
  background-color: #404bbf;
  border: none;
}

.icon-button:hover,
.icon-button:focus .modal-icon {
  fill: #ffffff;
}

.modal-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  min-height: 584px;
  width: 392px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 16px 24px 16px;
  width: calc(100% - 30px);
}

.icon-button {
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  border-radius: 50%;
  position: absolute;
  right: 24px;
  top: 24px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.call-you-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 16px;
}

.madal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: inline block;
  margin-bottom: 4px;
  display: block;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrap {
  position: relative;
}

.input-icon {
  fill: transparent;
  fill: #2e2f42;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field {
  margin-bottom: 8px;
}

.modal-checkbox {
  margin-bottom: 24px;
}

.modal-name {
  margin-bottom: 16px;
}

.madal-input:focus {
  border-color: #4d5ae5;
}

.madal-input:focus + .input-icon {
  fill: #4d5ae5;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 16px 8px;
  outline: transparent;
  transition: 250ms linear cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-textarea:focus {
  border-color: #4d5ae5;
}

.modal-send {
  min-width: 169px;
  height: 56px;
  align-self: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: #4d5ae5;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  display: block;
}

.modal-send :hover,
.modal-send :focus {
  background: #404bbf;
}

.check-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  align-items: center;
}

.check-text a {
  color: #4d5ae5;
  text-decoration: underline;
}

.check-text span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  display: inline-flex;
  fill: transparent;
  border-radius: 2px;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-check:checked + .check-text span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
